<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>
    <%- include("../partials/nav.ejs") %>

    <div class="create-blog content">
      <form action="/blogs" method="POST">
        <label for="title">Blog title:</label>
        <input type="text" id="title" name="title" required />
        <label for="source">Source:</label>
        <input type="text" id="source" name="source" required />
        <label for="snippet">Blog snippet:</label>
        <input type="text" id="snippet" name="snippet" required />
        <label for="image">Image</label>
        <input type="text" id="image" name="image" required />
        <label for="body">Blog body:</label>
        <textarea id="body" name="body" rows="2" cols="50" required></textarea>
        <button>Submit</button>
      </form>
      <div class="about-message">
        <p>Want to know about me?</p>
        <a href="https://ishanidey.netlify.app/">Checkout my portfolio website</a>
      </div>
    </div>
    
    <%- include("../partials/footer.ejs") %>
  </body>
</html>
