<head>
  <link href="/style.css" rel="stylesheet" type="text/css">
</head>

<div id="navbar">
  <a href="/">Blogs</a>
  <a href="/about">About the site</a> 
  <a href="/blogs/create">Create a new Blog</a>
</div>

<div class="hero-image">
  <div class="hero-text">
    <h1>Digital Diary: Odisha Tales</h1>
    <h6>Welcome to the blog of Ishani</h6>
  </div>
</div>
