<div id="navbar">
  <a href="/">Blogs</a>
  <a href="/about">About the site</a>
  <a href="/create">Create a new Blog</a>
  <a href="/login">Login</a> <!-- Add the login link -->
  <a href="/logout">Logout</a>
</div>