<head>
  <link href="/style.css" rel="stylesheet" type="text/css">
</head>
<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="w3-container w3-white w3-margin w3-padding-large">
    <h2>About The Site</h2>
    <p>This site is dedicated to WWE fans who want to get updates of women's matches.</p>
    <p>Myself being a huge WWE fan, I write blogs about one of the coolest women you can find fighting for chmpionships.</p>
    <p></p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>